<section data-ng-controller="HomeController" class="parallax" >
        <div class="parallax__group" id="group2">
            <div class="parallax__layer parallax__layer--base ">
                <div class="home-logo">
                    <div>
                        <span>Bienvenidos a <br> <b>DMS box</b> </span>
                    </div>
                    <div>
                        <img src="modules/core/img/brand/ideabox.png">
                    </div>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--back home-bg-img">
            </div>
        </div>
        <div class="parallax__group" id="group3">
            <div class="parallax__layer--base">
                <div class="home-expli">
                    <div>
                        <div class="div-icon">
                            <span class="dms-icon-cloud-upload2"></span>
                        </div>
                        <span>Tus archivos en la Nube</span>
            <span>Tus documentos son guardados en servidores
                   de clase mundial, con alto nivel de redundancia.
                   Nunca estuvieron más seguros.</span>
                    </div>
                    <div>
                        <div class="div-icon">
                            <span class="dms-icon-earth"></span>
                        </div>
                        <span>Donde tú te Encuentres</span>
            <span>No importa en donde te encuentres, siempre
                podrás acceder a tus documentos de forma rápida
                y segura.</span>
                    </div>
                    <div>
                        <div class="div-icon">
                            <span class="dms-icon-group"></span>
                        </div>
                        <span>Comparte lo que Quieras</span>
            <span>¿Trabajas en equipo? bríndale acceso
                    a tus compañeros a tus documentos o directorios.
                    Compartir nunca fué más sencillo.</span>
                    </div>
                </div>
            </div>
        </div>










   <!--       <div class="home-logo">
     <div>
         <span>Bienvenidos a <br> <b>DMS box</b> </span>
     </div>
     <div>
         <img src="modules/core/img/brand/ideabox.png">
     </div>

 </div>
</section>

<section>
    <div class="home-expli">
        <div>
            <div class="div-icon">
                <span class="dms-icon-cloud-upload2"></span>
            </div>
            <span>Tus archivos en la Nube</span>
            <span>Tus documentos son guardados en servidores
                   de clase mundial, con alto nivel de redundancia.
                   Nunca estuvieron más seguros.</span>
        </div>
        <div>
            <div class="div-icon">
                <span class="dms-icon-earth"></span>
            </div>
            <span>Donde tú te Encuentres</span>
            <span>No importa en donde te encuentres, siempre
                podrás acceder a tus documentos de forma rápida
                y segura.</span>
        </div>
        <div>
            <div class="div-icon">
                <span class="dms-icon-group"></span>
            </div>
            <span>Comparte lo que Quieras</span>
            <span>¿Trabajas en equipo? bríndale acceso
                    a tus compañeros a tus documentos o directorios.
                    Compartir nunca fué más sencillo.</span>
        </div>
    </div>
</section>
<section> -->

</section>
