
.folder-agregar{
  max-width: 320px;
  >div{
    display: inline-block;
  }
}

.folder-header{
  padding: 20px;
}

.folder-list-icon{
  font-size: 40px;
  color: lightblue;
}

.folder-icon-mw{
  min-width: 50px;
}

.folder-bc-active{

  >a{
    color: #777 !important;
  }
}

.folder-options{
  min-height: 80px;
  margin-bottom: 20px;
}

.btn-file-options-holder{
  margin: 5px 0;
  text-align: right;
}

.folder-list-group{
  margin-top: 10px;
}

.folder-btn-add{
  height: 34px !important;
  padding: 0 20px !important;
  font-size: 14px !important;
}


.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.folder-progressbar{
  height: 5px;
  &.ng-hide-add{
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;

  }
  &.ng-hide-add-active{

  }
}
