$color-01: #406474;
$color-02: #ff6000;
$color-03: #7d7d7d;
$color-04: #ff8e3e;

.navbar-img{
  width: 50px;
  position: relative;
  left: -5px;
  top: -13px;
  float: left;


  &.ng-hide-add-active{
    -webkit-transition:fadeOutUp 1s;
    -moz-transition: fadeOutUp 1s;
    -o-transition:fadeOutUp 1s;
    transition:fadeOutUp 1s;
  }
  /*
  &.ng-hide-add-active{
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    opacity: 0;
  } */

  &.ng-hide-remove{
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -ms-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
  }

}

.header-mh{
  min-height: 61px;
}
.content {
  margin-top: 61px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty{
  border-color:#FA787E;
}
.ng-valid.ng-dirty{
  border-color:#78FA89;
}
.home-logo{
  font-size: 20px;
  padding: 150px 50px;
  text-align: center;
  width: 100%;
  color: #f5f5f5;

  >div{
    display: inline-block;
  }
  div:nth-child(1){

    >span{
      font-size: 30px;
      >b{
        font-weight: 200;
        font-size: 80px;
      }
    }
  }
}

.home-profile-img{
  width: 30px;
  border-radius: 5px;
  margin: 0 10px;
}

.home-bg-img{
  background-color: $color-01;
  background: url("/modules/core/img/brand/background.jpg");
}

.home-expli{
  text-align: center;
  margin: 30px auto;
  font-size: 20px;
  width: 100%;
  max-width: 1200px;
  >div{
    min-width: 310px;
    max-width: 320px;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    text-align: center;
    vertical-align: top;
    min-height: 405px;

    .div-icon{
      margin-bottom: 40px;
      padding-top: 80px;
      >span{
        font-size: 80px;
        padding: 55px;
        border-radius: 50%;
        //background-color: $color-01;
        color: darkgray;
      }
    }

    >span{
      display: inline-block;
    }

     span:nth-child(2){
       color: $color-02;
       font-size: 34px;
       margin-bottom: 16px;
     }
     span:nth-child(3){
       font-size: 16px;
       text-align: justify;
       color: $color-03;
     }
  }

  @media all and (max-width: 1100px) {
    >div{
      min-width: 290px;
      max-width: 300px;

      .div-icon{
        margin-bottom: 30px;
        >{
          font-size: 44px;
        }
      }

      span:nth-child(2){
        font-size: 26px;
      }
      span:nth-child(3){
        font-size: 14px;
      }
    }
  }

}