<section data-ng-controller="FoldersController">
    <div class="folder-header">

        <ul class="breadcrumb">
            <li ng-repeat='bc in breadcrumbs' ng-class="{'folder-bc-active': $last }">
                <a ng-click="goIntoFolder(bc)" ng-hide="$last" >{{bc.name}}</a>
                <span class="folder-bc-active" ng-show="$last"> {{bc.name}}</span>
            </li>
        </ul>

        <div class="progress folder-progressbar" ng-hide="uploader.progress == 100 || uploader.progress == 0 || hideProgressbar()">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
    </div>
    <div>
        <alert class="todo-item" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    </div>

    <div class="folder-options">
        <div class="col-lg-6 col-sm-6 col-12" ng-show="folder.path.length">
            <div class="form-group">

                <div class="input-group input-group-lg">

                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Nombre de la Carpeta" class="form-control" ng-model="folder.new">
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-info folder-btn-add" type="button"  ng-click="appendChildFolder()">
                            <span class="dms-icon-folder"></span>
                            Agregar</button>
                    </span>
                </div>

            </div>


        </div>
        <div ng-show="folder.path.length">
            <div class="col-lg-6 col-sm-6 col-12">

                <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">

                        <input type="file" nv-file-select uploader="uploader" folder="folder.actual._id">
                        <span class="dms-icon-search"></span>
                        Seleccionar
                    </span>
                </span>
                    <input type="text" class="form-control" readonly ng-model="uploader.queue[0].file.name">
                </div>
                <div class="btn-file-options-holder">

                    <button type="button" class="btn btn-default" ng-click="uploader.queue[0].remove()" ng-show="uploader.queue.length" >
                        <span class="dms-icon-blocked"></span> Limpiar
                    </button>

                    <button  type="button" ng-click="uploader.queue[0].upload()" class="btn btn-success" ng-show="uploader.queue.length">
                        <span class="dms-icon-upload"></span>
                        Subir
                    </button>
                </div>


            </div>


        </div>
    </div>

    <div class="list-group folder-list-group">
        <a data-ng-repeat="fold in folders | filter:filterFolderList" class="list-group-item ">
          <div class="row row-flex"  >

              <div class="col-xs-1 folder-icon-mw" ng-click="goIntoFolder(fold)">
                  <span class="folder-list-icon" ng-class="fileProperty.getIconClass(fold.type)"></span>
              </div>
              <div class="col-xs-9 col-sm-10 folder-row-mh" ng-click="goIntoFolder(fold)">
                  <span data-ng-bind="fold.name"></span>
              </div>

              <div class="col-xs-1 del-item folder-row-mh ta-center" ng-click="folderModal(fold)">
                  <span class="folder-icon-mw dms-icon-enter"></span>
              </div>
          </div>




        </a>
    </div>
    <!-- <div class="alert alert-warning text-center" data-ng-hide="!folders.$resolved || folders.length">
    	No hay carpetas aún, por qué no creas una?
    </div> -->
</section>