<section data-ng-controller="FoldersController">
    <div class="page-header folder-header">

        <ul class="breadcrumb">
            <li ng-repeat='bc in breadcrumbs' ng-class="{'folder-bc-active': $last }">
                <a ng-click="goIntoFolder(bc)" ng-hide="$last" >{{bc.name}}</a>
                <span class="folder-bc-active" ng-show="$last"> {{bc.name}}</span>
            </li>
        </ul>

        <div class="folder-agregar" ng-show="folder.path.length">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="folder.new">
            </div>

            <button type="button" class="btn btn-success" ng-click="appendChildFolder()">
                <span class="dms-icon-folder"></span>
                Agregar
            </button>
        </div>
        <div class="folder-agregar" ng-show="folder.path.length">
            <input type="file" nv-file-select uploader="uploader"/><br/>
            <ul>
                <li ng-repeat="item in uploader.queue">
                    Name: <span ng-bind="item.file.name"></span><br/>
                    <button ng-click="item.upload()">upload</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="list-group">
        <a data-ng-repeat="fold in folders | filter:{ parentId : folder.actual._id }" ng-click="goIntoFolder(fold)" class="list-group-item">
       <!-- <a data-ng-repeat="folder in folders" data-ng-href="#!/folders/{{folder._id}}" class="list-group-item"> -->
			<!--<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="folder.created | date:'medium'"></span>
				by
				<span data-ng-bind="folder.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="folder.name"></h4>
            -->
          <div class="row" >
              <div class="col-xs-1 folder-icon-mw">
                  <span class="folder-list-icon" ng-class="setIcon(fold.type)"></span>
              </div>
              <div class="col-xs-8 col-sm-9">
                  <span data-ng-bind="fold.name"></span>
              </div>
              <div class="col-xs-1">
                  <span class="folder-icon-mw dms-icon-edit"></span>
              </div>
              <div class="col-xs-1">
                  <span class="folder-icon-mw dms-icon-close"></span>
              </div>
          </div>




        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!folders.$resolved || folders.length">
    	No hay carpetas aún, por qué no creas una?
    </div>
</section>